<h5 id="cite">Cite it: &nbsp;
	<span id="mla" class="label label-success cite-buttons">MLA</span>
	<span id="apa" class="label label-default cite-buttons">APA</span>
</h5>

<!-- MLA -->
<!-- https://owl.english.purdue.edu/owl/resource/747/08/ -->
<div id="mla-citation" class="wrapper wrapper-citation" >
<pre><% if project.anonymouse %><%=project.author_name %>.<% else %><%=project.user.name %>.<% end %> <% if work.name? %>"<%= work.name.strip %>."<% else %>"<%= work.file_name.strip %>."<% end %> Rstacks.org, <%= work.created_at.strftime("%e %b %Y") %>. Web. <%=Time.zone.now.strftime("%e %b %Y") %>. <%= "<" %><%= request.original_url %><%=">" %>
</pre>
</div>

<!-- APA -->
<!-- http://www.easybib.com/reference/guide/apa/website -->
<div id="apa-citation" class="wrapper wrapper-citation" style="display: none;">
<pre><%= if project.anonymouse then project.author_name else project.user.name end %>. (<%= work.created_at.strftime("%Y, %B %d") %>). <span style="font-style: italic;"><% if work.name? %><%= work.name.strip %>.<% else %><%= work.file_name %>.<% end %></span> Retrieved from <%= request.original_url %>.</pre>
</div>
