<div class="modal fade" id="work-preview-<%= work.id %>" tabindex="-1" role="dialog" aria-labelledby="work-preview-<%= work.id %>" aria-hidden="true" >
  <div class="modal-dialog modal-a4" >
    <div class="modal-content" style="border-radius: 0px;">

      <div class="modal-header" style="height: auto;">

        <!-- metadata -->
        <div id="metadata" style="height: 70px;" >

            <span style="color: lightgray; float: right; margin-left: 5px;" ><%= work.file_name.split('.').last %></span>

          <% if current_user %>
            <div style="float: right; margin-top: 15px;">

              <!-- BOOKMARK IT, OR UN- -->
              <%= link_to bookmark_path(work.project), method: :patch, remote: true, class: "bookmark_pony #{"bookmarked_true" if current_user.bookmarks.find_by(project_id: work.project.id, bookmarked: true)} #{"bookmarked_ribbon_default" if !current_user.bookmarks.find_by(project_id: work.project.id, bookmarked: true)}" do %>
                <span class="glyphicon glyphicon-bookmark has-tooltip" style="font-size: 3em; float: right; margin-bottom: 10px;" data-toggle="tooltip" data-placement="bottom" title="Bookmark" aria-hidden="true"></span>
              <% end %>
              <!-- RECOMMEND -->

            </div>
          <% end %>

          <div class="ellipsis">
            <div class="title-etc">
              <h4>
                  <!-- b_i_p & title -->
                  <%= link_to work do %>
                    <span>
                      <%= working_title(work) %>
                    </span>
                  <% end %>
              </h4>
            </div>
          </div> <!-- end ellipsis -->

          <div class="author-etc" style="height: 10px;">

              <!-- author & school -->
              <!-- MAKE ANONYMOUSE, OR NOT -->
              <% if work_owner?(work) %>
                <%= link_to change_policy_path(work), class: "policy_pony #{"anony" if work.anonymouse} #{"non_anony" if !work.anonymouse}", method: :patch, remote: true do %>
                  <span id="policy-option" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <% end %>
              <% end %>
              <!-- author/user name -->
              <span style="font-size: .9em; color: gray;" id="author-name-<%= work.id %>" class="<%= 'anony' if work.anonymouse %>">
                <% if work.anonymouse %>
                  <%= work.author_name %>
                <% else %>
                  <%= link_to work.user.name, work.user, style: "color: #428bca;" %>
                <% end %>
              </span>
              <!-- school name -->
              <span style="font-size: .7em;">
                <%= link_to work.school_name, work.school, style: "color: gray;" %>
              </span>
          </div>

          <div class="stats-etc" style="padding-top:6px;">
            <!-- gradient -->
            <span class="">
              <% if work.gradient_count > 0 %>
                <% if work.impressionist_count(:filter => :session_hash) == 1 %>
                  <% view_rgb = 0 %>
                <% elsif work.impressionist_count(:filter => :session_hash) == (1 || 2) %>
                  <% view_rgb = 75 %>
                <% else %>
                  <% view_rgb = 255 %>
                <% end %>
                <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="background-color: rgb(<%= 255 - view_rgb %>, 255, <%= 255 - view_rgb %>); color: rgb(<%= 255 - work.gradient_average_rgb %>, 255, <%= 255 - work.gradient_average_rgb %>);"></span>
              <% end %></span>

            <!-- views and bookmarks counts -->

            <span class="text-muted" style="font-size: .8em;"><%= pluralize(work.impressionist_count(:filter => :session_hash), 'view') if work.impressionist_count(:filter => :session_hash) > 0 %></span>
            <span id="bookmark-count-<%= work.id %>" style="font-size: .8em; color: green;"><% if work.bookmarks_count > 0 %><%= pluralize(work.bookmarks_count, 'bookmark') %><% end %></span>
            <span id="comment-count" style="font-size: .8em; background-color: #f9fdef;"><% if work.comments.count > 0 %><%= pluralize(work.comments.count, 'comment') %><% end %></span>

          </div> <!-- end stats-etc -->

        </div> <!-- end metadata -->

        <!-- shareing -->
        <div class="row" style='margin-left: 20px; margin-top: 10px;'>
          <%= render_shareable :buttons=> ['facebook', 'twitter'], :url=> work_url(work) %>
        </div>

      </div> <!-- end header -->

      <div class="modal-body " style="min-height: 500px; padding: 60px;">

          <% if work.docordocx? || work.markdown? || work.type_html? || work.latex? %>

            <!-- same old shit as _doc and _work w/r/t markdown vs. html content -->
            <span id="modal-text-content">
              <%= presentable_html(work.file_content_html) if work.file_content_html %>
            </span>
            <!-- <%= markdown(work.file_content_md) if work.file_content_md %> -->


          <% elsif work.plain_text? || work.type_rtf? || work.spreadsheet? || work.powerpoint? || work.open_office? || work.i_works? %>

            <%= content_tag('pre', work.file_content_text) %>

          <% elsif work.pdf?  %>

            <%= link_to work do %>
              <%= image_tag work.document_url(:png_preview), style: "margin-top: 10px;", class: "shadowy-figure-image-preview" %>
            <% end %>

          <% elsif work.image? %>

            <%= link_to work do %>
             <%= image_tag work.document_url, style: "margin-top: 10px; max-width: 600px;", class: "shadowy-figure-image-preview" %>
            <% end %>

          <% end %>

      </div> <!-- end body -->

      <div class="modal-footer">

      <div class="pull-left">

        <% if work_owner?(work) %>
          <div class="owner-options text-center" style="margin-top: 5px;">
              <!-- EDIT -->
              <%= link_to edit_work_path(work) do %>
                <span id="edit-or-delete-option" class="glyphicon glyphicon-pencil has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit" aria-hidden="true" style="color: gray; font-size: 2em;"></span>
              <% end %>
              <!-- DELETE -->
              <%= link_to work, method: :delete, remote: true, data: { confirm: 'Are you really really sure you want to remove this literature from the reach of millions of hungry, striving minds?' }, class: "delete_pony" do %>
                <span id="edit-or-delete-option" class="glyphicon glyphicon-trash has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Delete" aria-hidden="true" style="color: gray; font-size: 2em;"></span>
              <% end %>
          </div>
        <% end %>

      </div>

        <style>
          a#modal-download-link:hover { text-decoration: none;}
        </style>

        <%= link_to work.document.url, id: "modal-download-link" do %>
          <button type='button' class='btn btn-default btn-sm'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download <span class="text-muted"><%= number_to_human_size(work.file_size) %></span></button>
        <% end %>

        <%= link_to work.project do %>
          <button type="button" class="btn btn-primary">View project <span class="glyphicon glyphicon-arrow-right"></span> </button>
        <% end %>

      </div> <!-- end footer -->

    </div> <!-- /content -->
  </div>
</div> <!-- /.modal.fade -->
