<div class="modal fade" id="work-preview-<%= work.id %>" tabindex="-1" role="dialog" aria-labelledby="work-preview-<%= work.id %>" aria-hidden="true" >
  <div class="modal-dialog modal-a4" >
    <div class="modal-content" style="border-radius: 0px;">

      <% 

      %>

      <div class="modal-header" style="height: auto; padding-bottom: 10px;">

        <%= render partial: 'projects/show_header', locals: {project: project, diffs: project.diffs} %>

        <script>
        $(function () {
          $('.version-diff-chooser').hide();
        });
        </script>
      </div> <!-- end header -->
      
      <div class="modal-body " style="min-height: 500px; padding: 60px;">
          
          <% if work.docordocx? || work.markdown? || work.type_html? || work.latex? %>

            <!-- same old shit as _doc and _work w/r/t markdown vs. html content -->
            <span id="modal-text-content">
              <%= presentable_html(work.file_content_html) if work.file_content_html %>
            </span>
            
  

          <% elsif work.plain_text? || work.type_rtf? || work.spreadsheet? || work.powerpoint? || work.open_office? || work.i_works? %>

            <%= content_tag('pre', work.file_content_text) %>

          <% elsif work.pdf?  %>

            <%= link_to work do %>
              <%= image_tag work.document_url(:png_preview), style: "margin-top: 10px;", class: "shadowy-figure-image-preview" %>
            <% end %>

          <% elsif work.image? %>
           
            <%= link_to work do %>
             <%= image_tag work.document_url, style: "margin-top: 10px; max-width: 600px;", class: "shadowy-figure-image-preview" %>
            <% end %>
           
          <% end %>

      </div> <!-- end body -->

      <div class="modal-footer">  
      
      <div class="pull-left">
      
        <% if owner?(work) %>
          <div class="owner-options text-center" style="margin-top: 5px;">  
            
              <!-- DELETE --> 
              <%= link_to work, method: :delete, remote: true, data: { confirm: 'Are you really really sure you want to remove this literature from the reach of millions of hungry, striving minds?' }, class: "delete_pony" do %>
                <span id="edit-or-delete-option" class="glyphicon glyphicon-trash has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Delete" aria-hidden="true" style="color: gray; font-size: 2em;"></span>
              <% end %> 
          </div>
        <% end %>
          
      </div> 

        <style>
          a#modal-download-link:hover { text-decoration: none;}
        </style>

        <%= link_to work.document.url, id: "modal-download-link" do %>
          <button type='button' class='btn btn-default btn-sm'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download <span class="text-muted"><%= number_to_human_size(work.file_size) %></span></button>
        <% end %>

        <%= link_to work.project do %>
          <button type="button" class="btn btn-primary">View project <span class="glyphicon glyphicon-arrow-right"></span> </button>
        <% end %>

      </div> <!-- end footer -->

    </div> <!-- /content -->
  </div>
</div> <!-- /.modal.fade -->

