<%= render partial: 'projects/show_header', locals: {project: @project, diffs: @diffs} %>



<div class="row" style="height: 20px;">
</div>


<!-- SHOW AVAILABLE VERSIONS -->
<div id='version-display' class='row' style="padding-bottom: 40px;">

    <!-- show all works (versions) associated to this project -->
    <!-- and option for uploads -->
    <div class="col-sm-3" style="margin-top: 15px;">

    
    <!-- markdown cheatsheet will collapse open and closed when in editing mode. -->
    <div id="markdown-cheat-sheet" class="collapse collapsed" style="margin-bottom: 30px;">
      
      <%= render partial: 'shared/markdown_cheat_sheet' %>
    </div>

    
    <!-- display: none -->
    <span id="currently-viewed-id" style="display: none;"><%= @most_recent_work.id %></span>
    
    <p class="brand-secondary">
        <!-- <span class="glyphicon glyphicon-arrow-up"></span> -->
        latest
    </p>
    <% @works.all.reverse.each do |work| %>
        
        <!-- list available versions -->
        <!-- click to toggle version visibility -->
        <div class="">
  <!--       <div class="" style="display: inline-block; float: left; padding: 3px;">
          
        </div> -->
        <div id="<%= work.id %>" class="click-me <%= work.id == @most_recent_work.id ? 'open-version' : 'closed-version' %>" style="display: inline-block; width: 90%;">


            <!-- file icon -->
            <div class="hidden-sm" style="display: inline-block; vertical-align: top; margin-top: 3px;">
              <%= pretty_doc_type_img(work, "40", "3x") %>
            </div>

            <!-- name and created_at -->
            <div class="" style="display: inline-block; margin-left: 5px; max-width: 70%;">
              <strong><%= truncate(working_title(work), length: 1000) %></strong>
              <br>
              <small><%= work.created_at.strftime("%e %b %Y") %></small>
            </div>
        
        </div>
        </div>
    <% end %>
    <p class="brand-secondary">earliest</p>


  


        

    </div> <!-- !col-sm-3 -->


    <!-- COL-SM-9 -->
    <div class="col-sm-9">

      <div class="row">
      <div id="versions-different-alert" class="alert alert-info col-xs-12" style="display: none;">
        Updates saved! <%= link_to "Refresh to see your new public version", project_path(@project) %>, or keep on keeping on. 
        
        <style>
          /*http://stackoverflow.com/questions/18169717/align-button-vertically-in-alert-field*/
          .alert p .btn {
              display:inline;
          }
        </style>
        <p class="pull-right">
        <a href="<%= project_path(@project) %>" class="btn btn-success btn-outline btn-sm" style="margin-right: 10px;">Refresh</a>
        <span id="hide-version-alert">
          <span class="fa fa-close"></span>
        </span>
        </p>
        <script>
        $('#hide-version-alert').on('click', function() {
          $('#versions-different-alert').hide();
        });
        </script>
      </div>
      </div>


        <% @works.each do |work| %>



          <div class="work-version-display-<%= work.id %>" style="<%= unless @most_recent_work.id == work.id then 'display: none;' else 'display: visible;' end %>">

            <!-- you left editing without saving -->
            <div class="row">
            <div class="alert alert-warning col-xs-12 left-without-saving-alert" style="display: none;">
              You left editing without saving. 
              <p class="pull-right">
              <style>
                /*http://stackoverflow.com/questions/18169717/align-button-vertically-in-alert-field*/
                .alert p .btn {
                    display:inline;
                }
              </style>
                <a class="save-button-backup btn btn-success btn-sm  disabled update-version-<%= work.id %>">
                  save&nbsp;
                  <span class="fa fa-save"></span>
                </a>
                <span class="close-save-reminder" style="margin-left: 10px;">
                  <span id="" class="fa fa-close"></span>
                </span>

                <script>
                $('.close-save-reminder').on('click', function() {
                  $('.left-without-saving-alert').hide();
                });
                </script>
              </p>
            </div>
            </div>


              <!-- EDIT/+SAVE NEW VERSIONS -->
              <!-- ******************************************** -->
              <!-- BUTTTTOOOONNNNSSSS -->
              <!-- ******************************************** -->
              
              <script>
                $(function () {
                  $('.editable').hide();  
                });
                
              </script>




                <div class="row" style="margin-bottom: 10px;">
                  <!-- TITLE -->
                  <h4>
                    <% if owner?(work) %>
                      <%= best_in_place work, :name, place_holder: "             ", activator: "#work-name-activator-work-id-#{work.id}", :as => :input, class: "best_in_place" %>
                      <span id="work-name-activator-work-id-<%= work.id %>" class="glyphicon glyphicon-pencil" aria-hidden="true" style="color: lightgray;"></span>
                    <% else %>
                        <%= working_title work %>
                    <% end %>
                  </h4>

                  <!-- COMMENTS ON WORK -->
                  <p style="line-height: 2em; max-width: 80%;">
                      
                      <% if owner?(@project) %>
                      <span class="text-muted" style="color: #76B3DF; padding: 3px;">Work comments</span>
                      <span style="color: gray;">
                          <%= best_in_place work, :description, place_holder: "              ", activator: "#desc-activator-#{work.id}", :as => :input, class: 'bip-form', inner_class: 'bip-inner' %>
                      </span>
                          <span id="desc-activator-<%= work.id %>" class="glyphicon glyphicon-pencil glyphicon-edit-work" aria-hidden="true" style="color: lightgray;" title="Edit work description."></span>
                      <% else %>
                          <span class="text-muted" style="color: #76B3DF; padding: 3px;">Work comments</span>
                          <span style="color: gray;">
                              <%= work.description %>
                          </span>
                      <% end %>
                  </p>

                  <!-- DOWNLOAD BUTTON --> <!-- pull-right -->
                  <div class="dropdown" style="display: inline; ">
                      <!-- link to download work/:id/download => 'works#download' -->
                      
                        <button class="btn btn-xs btn-outline btn-success dropdown-toggle" data-toggle="dropdown">
                          <span class="fa fa-caret-down"></span>
                          Download
                        </button>
                        <ul class="dropdown-menu dropdown-menu-center">
                          
                          <!-- original file -->
                          <% if work.document_url %>
                          <li>
                            <%= link_to work.document_url, class: 'modest-link' do %> 
                              <span class="brand-primary"><%= work.file_name %></span>&nbsp;<sup style="color: green;">original</sup>
                            <% end %>
                          </li>   
                          <% end %>

                          <% if !work.image? %>
                          <!-- markdown -->
                          <li>
                            <%= link_to download_work_path(:id => work.id, :download_as => 'markdown'), class: 'modest-link' do %> 
                              <span class="brand-primary"><%=  download_name(work.name) %>.md</span>&nbsp;markdown
                            <% end %>      
                          </li>

                          <li>
                            <%= link_to download_work_path(:id => work.id, :download_as => 'pdf'), class: 'modest-link' do %>
                              <span class="brand-primary"><%=  download_name(work.name) %>.pdf</span>&nbsp;pdf
                            <% end %>
                          </li>

                          <!-- plain -->
                          <li>
                            <%= link_to download_work_path(:id => work.id, :download_as => 'plain'), class: 'modest-link' do %> 
                              <span class="brand-primary"><%=  download_name(work.name) %>.txt</span>&nbsp;plain text
                            <% end %>      
                          </li>

                          <!-- open office -->
                          <li>
                            <%= link_to download_work_path(:id => work.id, :download_as => 'open_office'), class: 'modest-link' do %> 
                              <span class="brand-primary"><%= download_name(work.name) %>.odt</span>&nbsp;Open Office text document
                            <% end %>      
                          </li>

                          <!-- docx -->
                          <li>
                            <%= link_to download_work_path(:id => work.id, :download_as => 'microsoft_word'), class: 'modest-link' do %> 
                              <span class="brand-primary"><%=  download_name(work.name) %>.docx</span>&nbsp;Microsoft Word&trade;
                            <% end %>      
                          </li>
                          <% end %>
                       
                        </ul>
                  </div>
                  
                  <% if owner?(work) && work.from_google_drive? && work.alternate_link.present? %>
                    <%= link_to work.alternate_link do %>
                      <small class="text-muted has-tooltip" data-toggle="tooltip" data-placement="top" title="This link is private - just for you!" aria-hidden="true">View the original in Google Drive</small>
                    <% end %>
                  <% end %>

                

                </div>
                
                <!--  _DOCUMENT     -->
                <%= render partial: "works/doc_local", locals: {work: work} %>
                
         
                <!--  CITATION_HELPER -->
                <hr>
                <div id="close-to-comments" class="citation-helper" style="margin-top: 20px;">
                    <%= render partial: 'works/citation_helper_local', locals: {work: work, project: work.project} %>
                </div>

                <hr>
            
            </div>
        <% end %>
            
            
                <div class="comments-go-here" style="margin-top: 20px;">
                <!-- comments by project or work selector -->
                <div class="row" style="margin-bottom: 20px;">
                    <!-- toggle buttons for show and diff -->
                    <!-- http://www.bootply.com/92189 -->
                <span class="text-muted">show comments
                  <div class="btn-group btn-group-xs btn-toggle " style="display: inline-block;"> 
                    <button id="" class="btn btn-primary active show-comments-by-work">by version</button>
                    <button id="" class="btn btn-default show-comments-by-project">by project</button>
                  </div>
                </span>
                </div>

                <% @works.each do |work| %>
                <% comms = work.comments.all %>
                <% wcomms = work.comments %>
                <% project_comments = @project.comments.all %>

                <div class="work-version-display-<%= work.id %>" style="<%= unless @most_recent_work.id == work.id then 'display: none;' else 'display: visible;' end %>">
                     <%= render partial: 'comments/form', locals: {work: work, comms: wcomms} %>
                    <div class="comments-by-work">
                        <% comms.where(work_id: work.id).reverse.each do |comm| %>
                            <%= render partial: 'comments/comment', locals: {work: work, comment: comm} %>
                        <% end %>
                    </div>
                    <div class="comments-by-project" style="display: none;">
                        <% project_comments.reverse.each do |comm| %>
                            <%= render partial: 'comments/comment', locals: {work: work, comment: comm} %>
                        <% end %>
                    </div>
                </div>
                <% end %>
                </div>


 
    </div>

</div> <!-- !ROW -->



<div id="diff-display" class="row" style="padding-bottom: 40px;">
<% if @diffs.any? %>

<div class="row">
  <div id="diff-different-alert" class="alert alert-warning col-xs-12" style="display: none;">
    These diffs are outdated! <%= link_to "Refresh", project_path(@project) %> to update them. 
    <span id="hide-diff-alert" class="pull-right">
      <span class="fa fa-close"></span>
    </span>
    <script>
    $('#hide-diff-alert').on('click', function() {
      $('#diff-different-alert').hide();
    });
    </script>
  </div>
</div>


<!-- DIFF PICKER -->
<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
  
        <div class="">

            
            <% 
                unique_work1s = @diffs.uniq.pluck(:work1)
                unique_work2s = @diffs.uniq.pluck(:work2)
            %>
            <%= "unique_work1s: #{unique_work1s}" %>
            <%= "unique_work2s: #{unique_work2s}" %>

            <div class="col-sm-6 " style="padding: 10px;">
            
            <!-- file icon -->
            <span class="fa fa-file-text-o fa-4x" style="color: #fcc; margin-right: 5px; vertical-align: middle;"></span>
            
            <!-- DIFF SELECTOR1 -->
            <div style="display: inline-block; margin-bottom: 2px;" >

                <select name="" id="diff-selector1" class="form-control">
                    <% unique_work1s.each do |w1| %>

                    <% 
                      # default to second-most recent work on left. 
                      is_second_most_recent = w1 == @project.works[-2].id ? true : false 

                      # don't want to display most recent work on left. 
                      is_most_recent = w1 == @most_recent_work.id ? true : false
                    %>
                    
                      <% if !is_most_recent %>
                      <option value="<%= w1 %>" <%= is_second_most_recent ? 'selected' : '' %>><%= Work.find(w1).name %></option>
                      <% end %>
                    <% end %>
                </select>




            </div>
            </div>

            <div class="col-sm-5" style="padding: 10px;">
            
            <!-- file icon -->
            <span class="fa fa-file-text-o fa-4x" style="color: #9f9; margin-right: 5px; vertical-align: middle;"></span>
            
            <!-- DIFF SELECTOR2 -->
            <div style="display: inline-block; ">
                <select name="" id="diff-selector2" class="form-control">
                    <% unique_work2s.each do |w2| %>
                    
                    <% is_most_recent = w2 == @most_recent_work.id ? true : false %>
                    <option value="<%= w2 %>" <%= is_most_recent ? 'selected' : '' %>><%= Work.find(w2).name %></option>
                    <% end %>
                </select>




            </div>
            </div>

            <div class="col-sm-1" style="padding: 10px;">
            <!-- COLORBLIND BUTTON -->
            <div class="" style="float: right;">
                <button class="btn btn-default pull-right has-tooltip" data-toggle="tooltip" data-placement="top" title="Colorblind?" aria-hidden="true" id="colorblindButton" style="position: relative; top: 0px; right: 10px;">
                <span class="glyphicon glyphicon-eye-open h" ></span>
                </button>
            </div>
            </div>

        </div>
    
</div>




<span id="currentlyVisibleDiffId" style="display: none;" value=""><%= @diffs.first.id %></span>

    <% @diffs.each do |diff| %>
    
    
    <!-- style sets default to most recent diff vs second-most-recent -->
    <div id="diff-show-<%= diff.work1 %>-<%= diff.work2 %>" class="div-showing-diffs">

        <% 
          w1 = Work.find(diff.work1)
          w2 = Work.find(diff.work2)
        %>

        <script>
        $(function () {
          $('.diff-text-left').on('scroll', function () {
              $('.diff-text-right').scrollTop($(this).scrollTop());
          });
          $('.diff-text-right').on('scroll', function () {
              $('.diff-text-left').scrollTop($(this).scrollTop());
          });
        });
          
        </script>

        <!-- diff -->
        <div class="colorblind-option" >
            <div class="col-sm-6">
                <h4 class="text-muted"><%= w1.name %></h4>
                <p class="text-muted">(<%= w1.created_at.strftime("%l:%M%P, %d %b '%y") %>)</p>
                    <% if !w1.image? %>
                    <div class="doc-text-container diff-text-left">
                    <div class="doc-text-content diff-text " >
                    
                    <!-- <div class="diff"> --> <!-- *nb this will exist in Diff.right & .left (which are :html) -->
                        <%= if diff.left.present? then diff.left.html_safe elsif diff.left_text.present? then diff.left_text.html_safe else markdown w1.file_content_md end %>
                    <!-- </div> -->
                    
                    
                    </div>
                    </div>
                    <% else %>
                      <div class="text-center" style="margin-left: auto; margin-right: auto;">
                        <%= image_tag w1.document_url(:fitted), class: "shadowy-figure-image-preview image-show", style: "margin-right: auto; margin-left: auto;" %>
                      </div>
                    <% end %>                    
            </div>

            <!-- latest -->
            <div class="col-sm-6">
                <h4 class="text-muted"><%= w2.name %></h4>
                <p class="text-muted">
                  <%= "created #{to_pretty(w1.created_at, w2.created_at)} (#{w2.created_at.strftime('%l:%M%P, %d %b %y')})" %>
                  <%# "#{time_ago_in_words(w2.updated_at - w1.updated_at)} different, at #{w2.updated_at.strftime('%l:%M%P, %d %b %y')}" %>
                </p>
                    <% if !w2.image? %>
                    <div class="doc-text-container diff-text-right">
                    <div class="doc-text-content diff-text ">
                    
                    <!-- <div class="diff"> -->
                        <%=  if diff.right.present? then diff.right.html_safe elsif diff.right_text.present? then diff.right_text.html_safe else markdown w2.file_content_md end %>
                    <!-- </div> -->
                    
                    </div>
                    </div>
                    <% else %>
                      <div class="text-center" style="margin-left: auto; margin-right: auto;">
                        <%= image_tag w2.document_url(:fitted), class: "shadowy-figure-image-preview image-show", style: "margin-right: auto; margin-left: auto;" %>
                      </div>
                    <% end %>
            </div>
        </div>

    </div>
        
    <% end %>

<% elsif owner?(@project) %><!-- else no diffs to show and we can educate the owner about how to use diffs -->

  <div class="row text-center" style="margin-bottom: 40px; margin-top: 40px;">
  <div class="" style="max-width: 50%; margin-right: auto; margin-left: auto; margin-bottom: 60px;">
    <h4 class="brand-primary">How do diffs work?</h4>
    <h5 style="color: gray; line-height: 1.5em;">
      <strong>It's easy! Diffs compare one document with another.</strong> <br>
      <span class="brand-secondary">That could mean comparing a rough draft with a final draft, different takes on a translation, or just comparing notes.</span>
    </h5>

  </div>
  <div class="col-sm-6">
  <div style="max-width: 50%; margin-left: auto; margin-right: auto;" >
    <span class="fa fa-file-text-o fa-5x" style="color: #b00;"></span>
    <h5 style="color: #b00;">First draft</h5>
    <h5 class="text-muted">
      Edits in which <span style="background-color: #fcc;">something was removed</span> will appear in red on the left. 
    </h5>
  </div>
  </div>
  <div class="col-sm-6">
  <div style="max-width: 50%; margin-left: auto; margin-right: auto;" >
    <span class="fa fa-file-text-o fa-5x" style="color: #080;"></span>
    <h5 style="color: #080;">Second draft</h5>
    <h5 class="text-muted">
      And edits which <span style="background-color: #9f9;">added something</span> will appear in green on the right.
    </h5>
  </div>
  </div>
  </div>

  

    <!-- demo -->
    <div class="row div-diff-demo" >



        <!-- diff -->
      <!-- diff -->
      <div class="colorblind-option" >
          <div class="col-sm-6" style="padding: 10px;" >
          <div style="border: 2px dashed #fcc; padding: 10px;">
              
                  <div class="doc-text-container">
                  <div class="doc-text-content">
                  <div class="diff">
                      <%= "<div class=\"diff\">\n  <ul>\n    <li class=\"del\"><del># I worked hard on this! </del></li>\n    <li class=\"unchanged\"><span></span></li>\n    <li class=\"del\"><del>If you upload another draft you&#39;ll see the diff right here. </del></li>\n    <li class=\"unchanged\"><span></span></li>\n    <li class=\"unchanged\"><span>(And, you can upload as many drafts as you want and compare them all.)</span></li>\n    <li class=\"unchanged\"><span></span></li>\n    <li class=\"unchanged\"><span>Woohoo! </span></li>\n  </ul>\n</div>\n".html_safe %>
                  </div>
                  
                  </div>
                  </div>
          </div>
          </div>


          <!-- latest -->
          <div class="col-sm-6" style="padding: 10px;">
          <div style="border: 2px dashed #9f9; padding: 10px;">
              
                  <div class="doc-text-container">
                  <div class="doc-text-content">
                  <div class="diff">
                      <%=  "<div class=\"diff\">\n  <ul>\n    <li class=\"ins\"><ins># I worked <strong>even </strong>hard<strong>er</strong> on this! </ins></li>\n    <li class=\"unchanged\"><span></span></li>\n    <li class=\"ins\"><ins>If you upload another draft you&#39;ll see the diff<strong>erence</strong> right here. </ins></li>\n    <li class=\"unchanged\"><span></span></li>\n    <li class=\"unchanged\"><span>(And, you can upload as many drafts as you want and compare them all.)</span></li>\n    <li class=\"unchanged\"><span></span></li>\n    <li class=\"unchanged\"><span>Woohoo! </span></li>\n  </ul>\n</div>\n".html_safe %>
                  </div>
                  </div>
                  </div>
          </div>
          </div>
      </div>

    </div>

<% else  %>


                      <div class="row text-center" style="min-height: 400px;">
                          <h1 class="brand-secondary" style="line-height: 400px;">What you see is what you get!</h1>
                      </div>

<% end %> 
</div> <!-- end diff display -->

                      <div class="row text-center" style="min-height: 400px;" id="impossible-diff">
                          <h1 class="brand-secondary" style="line-height: 400px;">That's impossible!</h1>
                      </div>

<!-- END RENDERED HTML -->

<%= render partial: 'projects/add_version_modal', locals: {project: @project} %>


<!-- END ADD_VERSION MODAL -->

<!-- JAVASCRIPTS -->
<script>
    $(document).ready(function() {


      $('.editor-area').hide();
      /*===========================================
      =            Pick viewers            =
      ===========================================*/
      
      /*----------  Version switcher  ----------*/
      

      // how to find which version is currently showing
      var currentlyViewedId = parseInt(document.getElementById('currently-viewed-id').innerHTML);
      // console.log('currentlyViewedId: ' + currentlyViewedId); // check

      // hides currently shown work and shows select work by id
      $('.click-me').on('click', function (){
          // console.log('this.id: ' + this.id);
          var currentDisplay = $('.work-version-display-'+currentlyViewedId);
          // console.log('currentDisplay: ' + currentDisplay);
          // hide it.
          currentDisplay.hide();
          // find self id work to display
          var toDisplay = $('.work-version-display-'+this.id);
          // show self id work.
          toDisplay.show();

          // set currentlyViewedId
          currentlyViewedId = this.id;

          // set button styles by toggling open/closed-version classes (in _diff.scss)
          $('.open-version').removeClass('open-version').addClass('closed-version');
          $(this).removeClass('closed-version').addClass('open-version');

      });
        

        /*----------  View mode togglers  ----------*/

        // elements        
        var saveButton = $('.save-button');
        var editModeButton = $('.edit-mode-button');
        var docTextContentDivs = $('.public-doc-text-view');
        var editorAreas = $('.editor-area');
        var leaveDangerouslyBtn = $('.leave-edit-mode-dangerously-button');
        var leaveSafelyBtn = $('.leave-edit-mode-safely-button');
        var createNewVersionBtn = $('.begin-new-version');

        // init
        var editorMode = false;
        saveButton.hide();
        leaveDangerouslyBtn.hide();
        leaveSafelyBtn.hide();


        // editorArea is display: none; @init

        editModeButton.on('click', function() {
          editorMode = true;
          
          // hide/show buttons
          editModeButton.hide();
          
          saveButton.show();
          leaveSafelyBtn.show();

          // hide/show editor vs public display
          docTextContentDivs.hide();
          editorAreas.show();

          createNewVersionBtn.hide();

          // $('.CodeMirror-scroll').focus();

          // force call click on textarea
          // $('').click();
          // $('.CodeMirror.cm-s-paper.CodeMirror-wrap').click();
          $('.editable').click();

        });

        function leaveEditMode() {
          console.log('leaving edit mode');
          editorMode = false;

          editModeButton.show();

          saveButton.hide();
          leaveDangerouslyBtn.hide();
          leaveSafelyBtn.hide();

          docTextContentDivs.show();
          editorAreas.hide();
          createNewVersionBtn.show();
        
        }

        leaveSafelyBtn.on('click', function() {
          leaveEditMode();
          $('#markdown-cheat-sheet').collapse('hide');
        });
        leaveDangerouslyBtn.on('click', function() {
          leaveEditMode();
          $('.left-without-saving-alert').show();
          $('#markdown-cheat-sheet').collapse('hide');

        });

        // moar init
        $('#versions-different-alert').hide();


        // Show by versions/diffs
        $('.show-version-button').on('click', function() {
          // show and hide versions/diffs
          $('#version-display').show();
          $('#diff-display').hide();

          $(this).removeClass("btn-default").addClass("active btn-primary");
          $('.show-diff-button').removeClass("btn-primary active").addClass("btn-default");
        });
        $('.show-diff-button').on('click', function() {
          // show and hide versions/diffs
          $('#version-display').hide();
          $('#diff-display').show();

          $(this).removeClass("btn-default").addClass("active btn-primary");
          $('.show-version-button').removeClass("btn-primary active").addClass("btn-default");
        });


        // Comments by version/project
        $('.show-comments-by-project').on('click', function() {
          // show and hide project/version comments
          $('.comments-by-project').show();
          $('.comments-by-work').hide();

          $(this).removeClass("btn-default").addClass("active btn-primary");
          $('.show-comments-by-work').removeClass("btn-primary active").addClass("btn-default");
        });

        $('.show-comments-by-work').on('click', function() {
          // show and hide project/version comments
          $('.comments-by-project').hide();
          $('.comments-by-work').show();

          $(this).removeClass("btn-default").addClass("active btn-primary");
          $('.show-comments-by-project').removeClass("btn-primary active").addClass("btn-default");
        });

        $('#diff-display').hide();
        $('.comments-by-project').hide();

        $('#impossible-diff').hide();
        // $('#diff-display-example').hide();
      
      /*=====  End of pick viewers  ======*/



      /*===================================
      =            Diff picker            =
      ===================================*/

      // hide everything we don't need (but keep an array around)
      var diff_array_list = $('.div-showing-diffs');
      console.log(diff_array_list, diff_array_list.length);

      // hide all but selected option (defaults to @diffs.first)
      function showOnlySelectedDiff () {
          diff_array_list.each( function (i) {
          // console.log("this: " + $(this));
          // console.log("diff-selector val: " + $('#diff-selector option:selected').val());
          if ( $(this).attr("id") == 'diff-show-' + $('#diff-selector1').val() + '-' + $('#diff-selector2').val() ) {
              $(this).show();
          } else {
              $(this).hide();
          }

          var sameDiff = $('#diff-selector1').val() == $('#diff-selector2').val() ? true : false;
          var backwardsDiff = $('#diff-selector1').val() > $('#diff-selector2').val() ? true : false;

          // if trying to diff backwards -- that's impossible!
          if ( backwardsDiff || sameDiff ) {
              $('#impossible-diff').show();
          } else {
              $('#impossible-diff').hide();
          }
      });     
      }
      showOnlySelectedDiff(); // init
          
      $('#diff-selector1').change(function (){
          showOnlySelectedDiff();
      });
      $('#diff-selector2').change(function (){
          showOnlySelectedDiff();
      });
      /*=====  End of Diff picker  ======*/


      /*=========================================
      =            Colorblind option            =
      =========================================*/
      var colorblindButton = $('#colorblindButton');
      var colorblindDiv = $('.colorblind-option');
      colorblindButton.on('click', function (){
          console.log('toggling colorblind');
          colorblindDiv.toggleClass('colorblind');
          console.log(colorblindDiv.attr('class'));
          colorblindButton.toggleClass('btn-primary').toggleClass('btn-default');
          // colorblindButton.toggleClass('btn-default');
      });
      /*=====  End of Colorblind option  ======*/


      /*=======================================
      =            Citation Helper            =
      =======================================*/
      $('.cite-buttons').css('cursor', 'pointer');
      $('.cite-buttons').css('cursor', 'pointer');
        $('.cite-buttons').click(function () {
                console.log('cite button firing');
              $('#mla').toggleClass('label-success').toggleClass('label-default')
              $('#apa').toggleClass('label-success').toggleClass('label-default')
              $('#mla-citation').toggle();
              $('#apa-citation').toggle();
        });      
      /*=====  End of Citation Helper  ======*/
      

      

      
      
      $('.has-tooltip').tooltip();
      /* Activating Best In Place */
      jQuery(".best_in_place").best_in_place();
      
      

    });
</script>

