<style>
	h1 {
		font-size: 3vw; 
		line-height: 100%;
		color: #005a9b;
	}
	.row-fat {
		padding-top: 20px;
		padding-bottom: 20px;
	}
</style>

<div class="container">

	<h1 >
		<%= link_to schools_path, class:'modest-link' do %>
		<span class="brand-secondary">
			schools \  
		</span>
		<% end %>
		<sup>
			<%= favicon_for(@school, 20, 20, "margin-top: -1vw;") %>
		</sup>
		<%= @school.Institution_Name %>
	</h1>


	<div class="row row-fat">

		<div class="col-sm-3">
			<div class="panel panel-default ">

				<style>
					#map {
						height: 200px;
						width: 100%;
						
					}
				</style>

				<div id="map"></div>
				<script>

		      var map;
		      function initMap() {

		      	var schoolLocation = {
		      		lat: <%= 
		      						if !@school.wikipedia_coords.nil?
		      							JSON.parse(@school.wikipedia_coords)[0]
		      						elsif !@school.geocode_lat.nil?
		      						 	@school.geocode_lat 
	      							else # get coords or die tryin
		      						 	@school.getCoords
												@school.geocode_lat							
		      						end
		      					%>, 
		      		lng: <%= 
		      						if !@school.wikipedia_coords.nil?
		      							JSON.parse(@school.wikipedia_coords)[1]
		      						elsif !@school.geocode_lng.nil? 
		      						 	@school.geocode_lng 
	      						 	else 
		      						 	@school.getCoords
												@school.geocode_lng		      						 							
		      						end
		      					%>
		      		}

		        var map = new google.maps.Map(document.getElementById('map'), {
		          center: schoolLocation,
		          zoom: 5
		        });

		        var marker = new google.maps.Marker({
		        	position: schoolLocation,
		        	map: map,
		        	title: '<%= @school.Institution_Name %>'
		        });

		      }
		    </script>
		    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&callback=initMap" async defer></script>

		    <div class="panel-body">

				<p class="text-muted">
				<span class="fa fa-map-marker"></span>
				<%= @school.Institution_City %>, <%= @school.Institution_State %></p>
				
				<p class="text-muted">
				<span class="fa fa-external-link"></span>
				<%= link_to @school.Institution_Web_Address, "http://#{@school.Institution_Web_Address}", target:'_blank' %></p>

				</div>
										
			</div>

			<div class="panel panel-default">
				<div class="panel-body">

					<span class="dark-blue">
						<span class="fa fa-users"></span>
						<%= pluralize @school.affiliations_count, 'affiliated member' %>	
					</span>
					
					<div class="portrait-gallery" style="overflow: scroll;">
						<% @school.affiliations.each do |aff| %>
							<%= link_to aff.user do %>
							<span class="has-tooltip" data-container="body" data-toggle="tooltip" title="<%= aff.user.name %>" data-placement="bottom" aria-hidden="true">
								<%= image_tag aff.user.avatar_url(:hand), style: "max-height: 40px; max-width: 40px;" %>
							</span>
							<% end %>
						<% end %>
					</div>

				</div>
			</div>
		</div>

		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-8" style="max-height: 280px; overflow: scroll;">
				
				<!-- 	<p>
						<%# raw @wiki %>
					</p> -->
				
					<div class="col-sm-12">
						<p class="brand-secondary">About</p>
						<p class="text-muted" style="line-height: 150%;">

							<%= if @school.wikipedia_summary
										@school.wikipedia_summary.truncate_words(50)  
									else 
										puts 'No summary available.'
									end
							%>
							<div style="display: inline-block;">
							<%= link_to 'Continue reading on Wikipedia <span class="fa fa-external-link"></span>'.html_safe, @school.wikipedia_url, target:'_blank' if @school.wikipedia_url %>
							</div>
						</p>
					</div>
					<!-- <div class="col-sm-12 wiki-images">
						<style>
							.school-thumbnail-wrapper {
								padding: 4px;
								display: inline-block;
							}
							img.school-thumbnail {
								max-width: 100px;
								/*height: auto;*/
								max-height: 80px;
							}
						</style>
				
					</div> -->
				
				</div>
				
				<div class="col-sm-4">

					<!-- test logo -->
					<div class="col-sm-12 ">
						<%= image_tag @school.logo, class: 'img-responsive', style:'margin-left:auto;margin-right:auto;' if @school.logo.present? %>
					</div>
				
					
					
				</div>
			</div>

			<div class="row row-fat">

				<div class="col-sm-12" style="padding: 30px;">
					<p class="brand-secondary">Top tags by 
						<span class="label label-context" style="font-size: 80%;">Department</span>
						<span class="label label-content" style="font-size: 80%;">Topic</span>
					</p>
									
					<style>
						.label {
							margin: 5px;
							/*line-height: 20px;*/
							line-height: 200%;
							font-size: 120%;
							/*font-size: 2em;*/
						}
					</style>
									
					<% context_count_hash(@school, 10).each do |key, value| %>
						<span class="label label-context">
							<%= link_to key, projects_path(:context => [key], :school_name => [@school.Institution_Name]) %> (<%= value %>)
						</span>
					<% end %>
									
					<% content_count_hash(@school, 10).each do |key, value| %>
						<span class="label label-content">
							<%= link_to key, projects_path(:content => [key], :school_name => [@school.Institution_Name]) %> (<%= value %>)
						</span>
					<% end %>

				<br>
				<hr class="brand-secondary">
				</div>

				
	
				<div class="col-sm-12">
				<div class="row">
				<div class="col-sm-12">
						<p class="brand-secondary">
						Recently added projects
					</p>
				</div>
				</div>

					<% if @projects.count > 0 %>
					
							
						<div id="project-uploads">
						  <%= render partial: 'projects/project2', collection: @projects, as: :project if @projects.any? %>
						</div>
					
						<div class="row load-more-container text-center">
						        <!-- hide our loading gif image so that we show it when making ajax call via jquery -->
							<%= image_tag "loading_spinner.gif", style: "display:none;", class: "loading-gif" %>
							<%= link_to "Load More", @school, class: "load-more" if @total_results > @projects.count %>
						</div>
					
						<script>
						$(document).ready(function () {
						    // when the load more link is clicked
						    $('a.load-more').click(function (e) {
					
						        // prevent the default click action
						        e.preventDefault();
					
						        // hide load more link
						        $('.load-more').hide();
					
						        // show loading gif
						        $('.loading-gif').show();
					
						        // get the last id and save it in a variable 'last-id'
						        var last_id = $('.-project').last().attr('data-id');
						        // console.log('last_id', last_id);
					
						        // make an ajax call passing along our last user id
						        $.ajax({
					
						        	// console.log('doing ajax request');
					
						            // make a get request to the server
						            type: "GET",
						            // get the url from the href attribute of our link
						            url: $(this).attr('href'),
						            // send the last id to our rails app
						            data: {
						                project_id: last_id
						            },
						            // the response will be a script
						            dataType: "script",
					
						            // upon success 
						            success: function () {
						            		// console.log('success ajax');
						                // hide the loading gif
						                $('.loading-gif').hide();
						                // show our load more link
						                $('.load-more').show();
					
						                $('.has-tooltip').tooltip();
						                /* Activating Best In Place */
						                jQuery(".best_in_place").best_in_place();
						            }
						        });
					
						    });
						});
						</script>
					
					<% elsif (@projects.count == 0) && params[:search].present? %>
					
						<div class="row">
							<h2 class="text-center" style="color: gray;">no matching projects found - bummer!</h2>
						</div>
					
					<% else %>
						
						<div class="row">
								<h2 class="text-center" style="color: gray;">no projects yet... what a bunch of slackers!</h2>
						</div>  <!-- end work uploads div -->
					
					<% end %></div>
			</div>

		</div>



	</div>
	
	


</div>


