<!DOCTYPE html>
<html ng-app="rapp" lang="en">
<head>
  <title>Openbound</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <!-- favicon -->
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- live reload in development -->
  <% if Rails.env.development? %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% end %>
  <!-- .alert auto-disappear -->
  <script>
    $(function() {
      // fade in, hold for 10 seconds unless closed
      $('.alert-fader').delay(500).fadeIn('normal', function() {
        $(this).delay(10000).fadeOut();
      });
      $('.close').on('click', function() {
        $('.alert-fader').hide();
      });
    });

  </script>
</head>
<body class="no-touch">

  <%= render partial: 'shared/custom_flasher', :flash => flash %>

  <%= query_diet_widget if Rails.env.development? and !current_page? :controller => 'index', :action => "signin" %>

	<%= render 'layouts/nav' unless @disable_nav %>

  <% unless @container_fluid %>
    <div class="container-fluid" id="everything" style="padding-top: 84px; ">
      <%= yield.force_encoding(Encoding::UTF_8) %>
    </div>
  <% else %>
    <div class="container-fluid" id="everything-else" style="padding: 0px; padding-top: 84px;">
    <%= render partial: 'shared/penthouse' if current_page?(:controller => 'projects', :action => 'index') %>
      <%= yield.force_encoding(Encoding::UTF_8) %>
    </div>
  <% end %>

	<%= render 'layouts/footer' unless @disable_footer %>

  <%= render 'shared/google_analytics' if Rails.env.production? %>

  <% if Rails.env.development? %>
  <div class="row" style="background-color: black; padding: 20px;">
  <%= debug(params) %>
  </div>
  <% end %>

</body>
</html>
